<Server port="@serverport@" shutdown="SHUTDOWN">

  <!--  Listener className="org.apache.catalina.core.AprLifecycleListener" /-->
  <!--  Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" /-->
  <!--  Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" /-->

  <GlobalNamingResources>

    <Environment name="simpleValue" type="java.lang.Integer" value="30"/>

    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
       description="User database that can be updated and saved"
           factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
          pathname="conf/tomcat-users.xml" />

  </GlobalNamingResources>

  <Service name="Catalina">

    <!-- Define a non-SSL HTTP/1.1 Connector on port 8080 -->
    
    @HTTPCONNECTOR@
    
    <!--  Connector port="@httpport@" maxHttpHeaderSize="8192"
               maxThreads="150" minSpareThreads="1" maxSpareThreads="10"
               enableLookups="false" redirectPort="8443" acceptCount="100"
               connectionTimeout="20000" disableUploadTimeout="true" maxPostSize="0"/-->
    
    @HTTPSCONNECTOR@
               
    <!--  Connector 
           port="@httpsport@" maxThreads="200"
           scheme="https" secure="true" SSLEnabled="true"
           keystoreFile="${user.home}/.keystoreWTF" keystorePass="changeit"
           clientAuth="false" sslProtocol="TLS"/-->

    <Engine name="Catalina" defaultHost="localhost">

      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>

       
      <Host name="localhost" appBase="@appbase@"
       unpackWARs="true" autoDeploy="false"
       xmlValidation="false" xmlNamespaceAware="false">

<Context path="@contextpath@" reloadable="false" docBase="@docbase@" workDir="@workdir@" >
   <Logger className="org.apache.catalina.logger.SystemOutLogger" verbosity="4" timestamp="true"/>
   @contextcontent@
</Context>

      </Host>

    </Engine>

  </Service>

</Server>