<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
 <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="wtfplugin.console.MysqlConsoleFactory"
            icon="icons/jdbc_16.gif"
            label="WTF console"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="WTF preferences"
            class="wtfplugin.preferences.WTFPreferences"
            id="wtfplugin.preferences.WTFPreferences">
      </page>
   </extension>
 

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="LTODeployPlugin.actionSet1"
            label="WTF"
            visible="true">
			<action      class="wtfplugin.actions.JarsToProjects"
               icon="icons/link.gif"
               id="wtfplugin.actions.JarsToProjects"
               label="Convertir relaciones a projectos"
               style="push"
               toolbarPath="window/additions"/>

      <action
               class="wtfplugin.actions.LaunchTomcat"
               icon="icons/16_tomcat.gif"
               id="wtf.action.launchtomcat"
               label="Launch tomcat"
               style="push"
               toolbarPath="window/additions"/>
      </actionSet>
      
               
            </extension>

      
      <extension
       point="org.eclipse.ui.startup">
    <startup class="wtfplugin.startup.ConfigureEclipse"/>
 </extension>
 
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status?after=additions">
         <toolbar
               id="wtfplugin.toolbar1">
            <control
                  class="wtfplugin.statusbar.WTFStatusBar"
                  id="wtfplugin.statusbar.WTFStatusBar">
            </control>
         </toolbar> 
        </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="WTFPlugin"
            name="WTF"/>
      <view
            allowMultiple="false"
            category="WTFPlugin"
            class="wtfplugin.views.WTFLaunchView"
            icon="icons/16_tomcat.gif"
            id="WTFPlugin.views.quicklaunch"
            name="WTF Quick Launch"/>
   </extension>
 
 <extension	point="org.eclipse.ui.bindings">
		<key
        commandId="wtf.action.launchtomcat"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        contextId="org.eclipse.ui.contexts.window"
        sequence="Shift+F8"/>
	</extension>
 
 <extension	point="org.eclipse.ui.commands">
		<command
        categoryId="org.eclipse.ui.category.file"
        defaultHandler="wtfplugin.launch.LaunchTomcatHandler"
        description="sqlplugin.toggle.description"
        id="wtf.action.launchtomcat"
        name="wtf.action.launchtomcat">
		</command>
	</extension>
 
      <!--extension
       point="org.eclipse.debug.core.launchDelegates">
    <launchDelegate
          delegate="wtfplugin.launch.ProjectsFirstLauncher"
          delegateDescription="Agregado de projectos antes en el classpath"
          id="LTODeployPlugin.launchDelegate1"
          modes="run,debug"
          name="ProjectFirst in classpath"
          type="org.eclipse.jdt.launching.localJavaApplication">
    </launchDelegate>
   </extension-->
 
   

</plugin>
